html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******/
body {
  font-family: 'Poppins';
}

.center {
  max-width: 1920px;
  width: 100%;
  max-height: 1234px;
  height: 100%;
  margin: 0 auto;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center .content-left {
  max-width: 345px;
  width: 95%;
  background: #FCFCFC;
  border-radius: 2px;
}

.center .content-left .img-logo img {
  margin: 32px 46px;
}

.center .content-left .btn-b {
  margin-top: 42px;
  text-align: center;
}

.center .content-left .btn-b .btn-a {
  width: 263px;
  height: 68px;
  background: linear-gradient(83.26deg, #1362FC 17.33%, #13A8FC 98.93%);
  border-radius: 22px;
  cursor: pointer;
  margin-left: 41px;
  position: absolute;
  z-index: 1;
}

.center .content-left .btn-b .btn-a a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.center .content-left .btn-b .btn-a a img {
  padding-right: 42px;
}

.center .content-left .btn-b .shadow-btn-a {
  width: 179px;
  height: 68px;
  background: linear-gradient(83.26deg, #1362FC 17.33%, #13A8FC 98.93%);
  -webkit-box-shadow: 0px 12px 28px rgba(19, 98, 252, 0.37);
          box-shadow: 0px 12px 28px rgba(19, 98, 252, 0.37);
  border-radius: 22px;
  position: relative;
  left: calc(41px + 22px);
}

.center .content-left .btn-b .pd-text {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center .content-left .btn-b .pd-text img {
  padding-right: 41px;
}

.center .content-left .btn-b .pd-text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #BFBFBF;
}

.center .content-left .footer-text {
  margin-top: 758px;
  margin-left: 41px;
  margin-bottom: 37px;
}

.center .content-left .footer-text .text-top {
  font-size: 12px;
  line-height: 26px;
  color: #969BA0;
  margin-bottom: 18px;
}

.center .content-left .footer-text .text-top span {
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: #969BA0;
}

.center .content-left .footer-text .text-bottom {
  font-size: 14px;
  line-height: 21px;
  color: #969BA0;
}

.center .content-left .footer-text .text-bottom span {
  color: red;
}

.center .content-right {
  margin-top: 37px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}

.center .content-right .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 560px) {
  .center .content-right .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.center .content-right .header-top .left-das h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0F0F0F;
}

.center .content-right .header-top .right-jai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.center .content-right .header-top .right-jai .lf .square {
  width: 56px;
  height: 56px;
  background: #C4C4C4;
  border-radius: 22px;
}

.center .content-right .header-top .right-jai .rt {
  margin-left: 26px;
}

.center .content-right .header-top .right-jai .rt h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #2E2E2E;
  margin-bottom: 4px;
}

.center .content-right .header-top .right-jai .rt p {
  font-size: 12px;
  line-height: 18px;
  color: #2E2E2E;
}

.center .content-right .bottom .icons {
  margin-top: calc(40px + 28px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
}

@media only screen and (max-width: 1850px) {
  .center .content-right .bottom .icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.center .content-right .bottom .icons .icon-b {
  background: linear-gradient(77.21deg, #59BCFF 47.6%, #59D7FF 107%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 339px;
  height: 164px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
}

.center .content-right .bottom .icons .icon-b .left-o {
  margin-right: 14px;
}

.center .content-right .bottom .icons .icon-b .left-o span {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}

.center .content-right .bottom .icons .icon-b .left-o p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 6px;
}

.center .content-right .bottom .icon-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 339px;
  height: 164px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  background: linear-gradient(77.21deg, #4AD994 47.6%, #57F998 107%);
}

@media only screen and (max-width: 728px) {
  .center .content-right .bottom .icon-g {
    margin-top: 20px;
  }
}

.center .content-right .bottom .icon-g .left-o {
  margin-right: 14px;
}

.center .content-right .bottom .icon-g .left-o span {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}

.center .content-right .bottom .icon-g .left-o p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 6px;
}

.center .content-right .bottom .icon-o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 339px;
  height: 164px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  background: linear-gradient(77.21deg, #FDB765 47.6%, #FFE485 107%);
}

@media only screen and (max-width: 1512px) {
  .center .content-right .bottom .icon-o {
    margin-top: 20px;
  }
}

.center .content-right .bottom .icon-o .left-o {
  margin-right: 14px;
}

.center .content-right .bottom .icon-o .left-o span {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}

.center .content-right .bottom .icon-o .left-o p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 6px;
}

.center .content-right .bottom .icon-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 339px;
  height: 164px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  background: linear-gradient(77.21deg, #FF6D59 47.6%, #FFD584 107%);
}

@media only screen and (max-width: 1850px) {
  .center .content-right .bottom .icon-r {
    margin-top: 20px;
  }
}

.center .content-right .bottom .icon-r .left-o {
  margin-right: 14px;
}

.center .content-right .bottom .icon-r .left-o span {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}

.center .content-right .bottom .icon-r .left-o p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 6px;
}

.center .content-right .bottom .flou-pj {
  margin-top: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 17000px) {
  .center .content-right .bottom .flou-pj {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.center .content-right .bottom .flou-pj .graf-left {
  margin-right: 39px;
}

.center .content-right .bottom .flou-pj .graf-left .ellipse {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  margin-bottom: 39px;
}

.center .content-right .bottom .flou-pj .graf-left .ellipse img {
  width: 95px;
  height: 95px;
  margin: 0 auto;
}

.center .content-right .bottom .flou-pj .graf-left .ellipse span {
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #2E2E2E;
  margin-top: 17px;
  margin-bottom: 22px;
}

.center .content-right .bottom .flou-pj .graf-left .ellipse p {
  font-size: 16px;
  line-height: 24px;
  color: #2E2E2E;
}

.center .content-right .bottom .flou-pj .graf-left .progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
}

.center .content-right .bottom .flou-pj .graf-left .progressBar p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #2E2E2E;
  margin-top: 30px;
}

.center .content-right .bottom .flou-pj .graf-left .progressBar .pro1 {
  margin-top: 29px;
  margin-bottom: 20px;
}

.center .content-right .bottom .flou-pj .graf-left .progressBar .pro2 {
  margin-bottom: 20px;
}

.center .content-right .bottom .flou-pj .graf-left .progressBar .pro3 {
  margin-bottom: 32px;
}

.center .content-right .bottom .flou-pj .graf-right {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 22px;
  margin-top: 35px;
}

.center .content-right .bottom .flou-pj .graf-right img {
  width: 100%;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text {
  margin-left: 32px;
  margin-right: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 68px;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .left-y-text h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 9px;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .left-y-text p {
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text .graph-line-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 128px;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text .graph-line-left span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: calc(5px + 25px);
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text .graph-line-left p {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text .graph-line-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 72px;
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text .graph-line-right span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: calc(5px + 25px);
}

.center .content-right .bottom .flou-pj .graf-right .graph-text .right-y-text .graph-line-right p {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */